<table width="100%" align="center" >
   <tr>
     <td colspan="2"align="right"left"><font size="2"> <b class="label_busca">Tipo:</b></font>
          <%= collection_select  :estagiario, :tipo, @estagios, :nome, :nome, :include_blank => ' --- Selecionar opção ---'  %>
        
         <%= submit_tag "Filtrar", :class => "btn_filtrar" %>
     </td>
   </tr>
  </table>
