  <div class="tabs">
           <table width="100%"  bgcolor ="#E6E2D" style="border-color: white" >

       <tr  bgcolor="#F5F5F5" width="100%">
         <td>
             <table border="1" cellspacing="0" cellpadding="1" width="100%">
              <tr>
               <th width="40%">Nome</th>
               <th width="30%">Estagiários</th>
               <th width="10%">Periodo</th>
               <th width="10%">Tipo</th>
              </tr>
             <%unid_ant=nil%>
             <% for unidade in @unidade_estagiario%>
              <tr>
               <td valign="top">
                    <%if unidade.unidade!=unid_ant%>
                        <%=h unidade.unidade %>
                    <%end%>
               </td>

               <td align="left"><%=h unidade.nomeest %></td>
               <td align="center"><%=h unidade.periodoest %></td>
               <td align="center"><%=h unidade.tipoest %> </td>
               <%unid_ant=unidade.unidade%>
             </tr>
            <%end%>
           </table>
        </td>
      </tr>
    </table>

  </div>
