<table width="100%" align="center" >
  <tr>
     <td colspan="2" align="left"><font size="2"><b class="label_busca">Final:</b></font>
     <% form_remote_for(:despacho,:url => { :action => 'create_despacho' }, :success => "$.fn.colorbox.close();$('select').multiselect('refresh')") do |f|%>
        <%= f.text_field :destinofinal, :size =>'40' %><%end%></td>
  </tr>
  </table>
