<table width="100%" align="center" >
   <tr>
     <td colspan="2"align="right"left"><font size="2"> <b class="label_busca">Un.Orçamentaria:</b></font>
          <%= collection_select :orc_ficha,:descricao, @orc_ficha_descricao, :descricao, :descricao_ano, :include_blank => ' -- Selecionar -- ',:class=> "txt_busca2"  %></b></font>
               <%= observe_field 'orc_ficha_descricao',
               :update => "consultaficha",
               :url    => { :action => 'ficha_descricao_saldo' },
               :with   => 'orc_ficha_descricao' %>
     </td>
   </tr>
  </table>
