<table width="100%" align="center" >
   <tr>
     <td colspan="2"align="right"left"><font size="2"> <b class="label_busca">Ficha Nº:</b></font>
         <%= collection_select :orc_ficha, :id, @fichas_atual, :id, :ficha, :include_blank => ' -- Selecionar -- ' %></font>
                <%= observe_field 'orc_ficha_id',
               :update => "consultaficha",
               :url    => { :action => 'ficha_saldo' },
               :with   => 'orc_ficha_id' %>

     </td>
   </tr>
  </table>
