<table width="100%" align="center" >
   <tr>
     <td colspan="2"align="right"><font size="2"> <b class="label_busca2">Tipo:</b></font>
        <%= collection_select :estagiario, :tipo, @tiposEstagio, :nome, :nome, :include_blank => ' -- Selecionar -- ',:class=> "txt_busca1"  %>
          <%= observe_field 'estagiario_tipo',
               :update => "dados",
               :url    => { :action => 'lista_consulta_tipo' },
               :with   => 'estagiario_tipo' %>


     </td>
   </tr>
  </table>

