<div id="interno6">
<% title "MATRICULAS".singularize %>
<div class="tabs">
 <div id="caixa_titulo">
     <font size="4"><strong><font color="red">INFORMATIVO</strong></font><font size=4></font>
 </div>
      <div class="tabs">


        <fieldset><legend><font size="3"><strong>ATENÇÃO</strong></font><font size=4></font></legend>
            <table width="100%">
            <tr>
                <td align="center" ><font size ="4" ><br/><b>AGUARDANDO PUBLICAÇÃO DE EDITAL.</b>
                     </font>
                  </td>
            </tr>

         </table>
         </fieldset>
        <table width="100%">
           <tr>
              <td><%= button_to 'Fechar', home_path, {:method => "get"}  %></td>
          </tr>
        </table>

    </div>
</div>
<br/>
</div>