<table width="100% ">
           <tr>
                <% session[:prof_falt]=1%>
               <td align="left" width ="10%"><b>Professor&nbsp(Falta): </b></td>
               <td align="left">     <%= collection_select :aulas_eventual, :aulas_falta_id, @prof_falta, :faltaid, :classe_falta, :include_blank => ' -- Selecionar -- ' %></td>
                      <%= observe_field 'aulas_eventual_aulas_falta_id',
                     :with   => :aulas_eventual_aulas_falta_id,
                      :url  => { :action => 'aulas_faltas_prof_classe' },
                      :update => "xclasse" %>
               
          </tr>
          <tr>
              <td align="left" colspan="3"> <div id ="xclasse">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<b><font color =" red"> <u>ATENÇÃO:</u> Aguarde o sistema identificar a classe. </b><font> </div></td>
          </tr>



</table>




