<table width="100% ">
           <tr>
          <% session[:prof_falt]=0%>
             <td align="left"><b> Professor(Subst.): </b></td>
             <td align="left"><%= collection_select :aulas_eventual, :eventual_id, @professores_total, :id, :nome_categoria, :include_blank => ' -- Selecionar -- ' %></td>
                               <%= observe_field 'aulas_eventual_eventual_id',
                                                 :with   => :aulas_eventual_eventual_id,
                                                  :url  => { :action => 'aulas_faltas_prof_classe' },
                                                  :update => "xobservacao" %>
          </tr>
           <tr>
                    <td></td>
                     <td colspan="3"> <div id="xobservacao"><br/></div>

                     </td>
           </tr>

</table>




