
<br/>
<table class="tabelas" width="45%" align="center">
  <tr>
    <th>
      <font  size="4"><b>VALIDAÇÃO DE RELATÓRIOS</b></font>
    </th>
   <td width="5%">
     <center><%= link_to image_tag("/stylesheets/images/excluir.PNG", :size => "20x20"),  homes_path, {:method => "get"}, :title => "Fechar"%></center>
   </td>
 </tr>
 <tr>
   <td colspan="2">
            <table>
              <tr>
                 <% form_tag validacao_relatestagiarios_path, :method => 'get' do %>
                 <td align="right">
                     <font size="4"> Senha:</font>
                     <%= password_field_tag :validate, params[:validate] %>
                     <%= hidden_field_tag :id,params[:id] %>
                    <td align="left"><input type="image" src="/stylesheets/images/listar.png" title="Validar Relatório">
                </td>
               <% end %>
             </tr>
          </table>
        <br/>
     </td>
   </tr>

   </table>
<br/>

