<table width="100%" align="center" >
   <tr>
<td colspan="2"align="right"left"><font size="2"> <b class="label_busca"> Reservas Realizadas:</b></font>
          <%= collection_select :orc_reserva,:id, @realizadas, :id, :valor_motivo, :include_blank => ' -- Selecionar -- ',:class=> "txt_busca2"  %></b></font>
               <%= observe_field 'orc_reserva_id',
               :update => "reserva",
               :url    => { :action => 'realizada' },
               :with   => 'orc_reserva_id' %>
     </td>
   </tr>
  </table>


