<table width="100%" align="center" >
   <tr>
     <td colspan="2"align="right"left"><font size="2"> <b class="label_busca"> Reservas Canceladas:</b></font>
          <%= collection_select :orc_reserva,:id, @canceladas, :id, :valor_justificativa, :include_blank => ' -- Selecionar -- ',:class=> "txt_busca2"  %></b></font>

     <td width =" 5"align="right"left">
         <%= submit_tag "Filtrar", :class => "btn_filtrar" %>
     </td>

     </td>
   </tr>
  </table>


