<table>
  <tr>
    <td>
       <% for fun in @funcionarios %>
         <b>Nome:<%=h fun.nome %><br/>
            Unidade: <%=h fun.unidadenome %><br/>
            Função: <%=h fun.funcaoo %><br/>
          </b>
         <% end %>


    </td>
  </tr>
</table>







