  <br/>  <br/>
   <font  size="2">
   <table  class="tabelas" border ="1" cellpadding="1" cellspacing="1" width="100%" >
      <tr>
        <th>Participante</td>
        <th>Curso</td>
        <th>Data</td>
        <th>Status</td>
        <th>Inscrição</td>
      </tr>
      <% for inscricao in @inscricaos %>
      <tr>
       <td><%=h inscricao.participante.nome %></td>
       <td><% inscricao.cursos.each do |curso| %>
             <%=h curso.nome %>
           <% end %>
      </td>



       <td><%=h inscricao.data_inscricao.strftime("%d/%b/%y") %> </td>
       <td align="center">
            <% if inscricao.encerrado == 0 %>
              Encerrado
            <%else%>
              Em Andamento
            <%end%>
        </td>
        <td align="center" colspan="1"><%= link_to image_tag("/stylesheets/images/exibir.gif", :size => "25x25"), inscricao, :title => "Exibir Unidade" %></td>
    </tr>
   <% end %>
  </table>
 </font>




