<div id="interno3">
<% title "MATRICULAS".singularize %>
<div class="tabs">
 <div id="caixa_titulo">
     <font size="3"><strong>INSCRIÇÕES </strong></font><br/>
 </div>
      <div class="tabs">
        
            <fieldset><legend><font size=4>Inscrição</font></legend>
              <table>
                <tr>
                  <td ><font color ="red" size ="3"><b><u>ATENÇÃO:</u> &nbsp&nbsp 1) NÃO É POSSIVEL NOVA INSCRIÇÃO PARA ESTE CURSO.
                        <br/>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 2) JÁ CONSTA UMA INSCRIÇÃO REALIZADA.
                        <br/>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp 3) PARA CONSULTA UTILIZE O BOTÃO "CONSULTAR INSCRIÇÃO".</b><font><br/>
                        <br/></td>
                </tr>

             </table>
             </fieldset>
        </center>
        <table width="100%">
           <tr>
              

             <td width ="1%"><%= button_to 'Fechar', home_path, {:method => "get"}  %></td>
             <td align="left" ><%= button_to 'Inscrição', new_inscricao_path, {:method => "get"}  %></td>
          </tr>
        </table>

    </div>
</div>
<br/>
</div>