<p>
  <b>Tipos manuntencaos:</b>
  <%=h @manutencaos_tipos_manutencao.tipos_manuntencaos %>
</p>

<p>
  <b>Manutencaos:</b>
  <%=h @manutencaos_tipos_manutencao.manutencaos %>
</p>


<%= link_to 'Edit', edit_manutencaos_tipos_manutencao_path(@manutencaos_tipos_manutencao) %> |
<%= link_to 'Back', manutencaos_tipos_manutencaos_path %>