
        <table bgcolor="#DCDCDC" width="100%">
          <tr bgcolor="#DCDCDC"  >
            <td align="center" colspan="8"><font color="red"<b>JÁ EXISTE EMPENHO COM ESTE NÚMERO </b></font></td>
          </tr>

        </table>

    <br/>