<br/>
<font size="3">
<table border="1" width="100%">
  <tr>
    <th colspan="2" width="80%">Tipo:</th>

  </tr>
  <% for tipos in @tipos_manutencao  %>
  <tr>
    <td><font size="2"> <%=h tipos.servico %></font></td>

  </tr>
<% end %>
</table>
</font>


