      <table  width="100%">
           <% @unidade.each do |unidade| %>
             <tr>
                <td align="left">  <b>Fone:</b> <%=h unidade.fone%></td>
             </tr>

            <% end %>
     </table>