<table width="100%" align="center" >
   <tr>
     <td colspan="2"align="right"left"><font size="2"> <b class="label_busca">Ficha Nº:</b></font>
         <%= collection_select :orc_suplementacao, :orc_ficha_origem_id, @fichas, :id, :ficha, :include_blank => ' -- Selecionar -- ' %></font>
                <%= observe_field 'orc_suplementacao_orc_ficha_origem_id',
               :update => "suplementacao",
               :url    => { :action => 'ficha_suplementacao_debito' },
               :with   => 'orc_suplementacao_orc_ficha_origem_id' %>

     </td>
   </tr>
  </table>
