<table width="100%" align="center" >
   <tr>
     <td colspan="2"align="right"left"><font size="2"> <b class="label_busca">Ata:</b></font>
         <%= collection_select :orc_ata, :id, @atas, :id, :objetivo, :include_blank => ' -- Selecionar -- ' %></font>
              <%= observe_field 'orc_ata_id',
               :update => "ata",
               :url    => { :action => 'ata_consulta_saldo' },
               :with   => 'orc_ata_id' %>
       
     </td>
   </tr>
  </table>
