<br/>
<table  class="tabelas" width="50%"align="center">
  <tr>
   <th align="left">
     <font  size=5><b> Confirmação</b></font>
   </th>
    <td width="10%">

    </td>
  </tr>
  <tr>
    <td colspan="2">
      <table>
        <tr>
           <td align="left"><font size=3><b>ANTES DE AGENDAR VERIFIQUE NA AGEANDA</b></font></td>
           <td align="left"><font size=3><b>SE O DIA E HORAS JÀ NÃO ESTÃO RESERVADOS</b> </font></td>
        </tr>   
      </table>
    </td>
  </tr>
  <tr>
    <td colspan="2">
            <div class="botao">
        <table width="100%" align="right">
           <tr>
              <td  align="right"><%= link_to image_tag("/stylesheets/images/botaoA.png"), reservar_salas_path, :title => "Agenda"%></td>
              <td width="2%"><%= button_to("Agendar", new_reservar_sala_path,  :title => "Agendar") %></td>
           </tr>
        </table>
      </div>
    </td>
  </tr>
     </table>


<br/>






