<br/>
 <table  class="tabelas2"   align="center" width="100%">
  <tr>
   <th align="left">
     <font  size=5><b> AGENDA DE RESERVA DE SALA REUNIÃO</b></font>
   </th>
    <td width="2%">
     <center><%= link_to image_tag("/stylesheets/images/excluir.PNG", :size => "20x20"),  homes_path, {:method => "get"}, :title => "Fechar"%></center>
    </td>
  </tr>
   <tr>
     <td colspan="2"> <%= render :partial => "calendar" %></td>
  </tr>
 </table>



