  <table align="center"  width="80%">
    <%if ((session[:matriculabase]) == (session[:matricula]))%>
       <tr>
        <td> <font size="4" color="blue"><b>HABILITADO PARA VOTAÇÃO</b></font></td>
        <td><%= button_to("VOTAR", votar_seduc_candidatos_path, :method => "get")%></td>
      </tr>
    <%else%>
      <tr>
        <td  width="2%"colspan="2" align="center">
          <font size="4" color="red"><b>MATRICULA NÃO CONFERE</b> <br/> Não habilitado a votar</font>
        </td>
      </tr>

    <%end%>
  </table>












