<fieldset><legend><font size ="4"><b>VERIFICAÇÃO</b></font></legend>
  <table width="100%">
  <tr>
    <td width ="1%" valign="top"><b>Funcionario:</b></td>
    <td><font  size="4"> <%= collection_select :seduc_funcionario, :seduc_funcionario_id, @funcionarios, :id, :nome, :include_blank =>' -- Selecione -- '  %></font></td>
  </tr>
  <tr>
    <td colspan="2">
      <%= observe_field 'seduc_funcionario_id',
           :update => "dados_funcionario",
           :url    => { :action => 'verificacao_funcionario' },
           :with   => 'seduc_funcionarios_id' %>
        <div id="dados_funcionario"> xxxx</div>

    </td>
  </tr>
  </table>
</fieldset>

