<br/>
<table class="tabelas3" align="center">
 <tr>
    <th align="left">
       <font size=5 color="black"> <b>  ELEIÇÃO MEMBROS DA CIPA - SEDUC/PMA</b></font>
    </th>
    <td width="5%">
     <center><%= link_to image_tag("/stylesheets/images/excluir.PNG", :size => "20x20"),  homes_path, {:method => "get"}, :title => "Fechar"%></center>
   </td>
 </tr>
 <tr>
   <td colspan="2">
      <fieldset><legend><font size ="4"><b>VERIFICAÇÃO</b></font></legend>
        <table width="100%">
        <tr>
          <td width ="1%" valign="top"><font size ="2"><b>Funcionario:</b></font></td>
          <td><font  size="4"> <%= collection_select :seduc_funcionario, :seduc_funcionario_id, @funcionarios, :id, :nome, :include_blank =>' -- Selecione -- '  %></font></td>
        </tr>
        <tr>
          <td colspan="2">
            <%= observe_field 'seduc_funcionario_seduc_funcionario_id',
                 :update => "dados_funcionario",
                 :url    => { :action => 'verificacao_funcionario' },
                 :with   => 'seduc_funcionario_seduc_funcionario_id' %>
              <div id="dados_funcionario"> </div>

          </td>
        </tr>
        </table>
      </fieldset>


<br/>

   </td>
 </tr>
 </table>
 <br/>