<br/>

      <fieldset><legend><font size ="4"><b>VOTAÇÃO</b></font></legend>
        <table width="100%">
          <tr>
            <td>
               votação 
            </td>
          </tr>
        </table>
      </fieldset>
 <br/>