<% for professor in @professor_classe %>
<table width="100%" >
            <tr bgcolor="#F5F5F5" >
               <td align="left" width="12%"></td>
               <td align="left" width="20%">&nbsp&nbsp&nbsp <b>Classe:</b> <%=h professor.classe%>&nbsp</td>
               <td align="left" >&nbsp&nbsp&nbsp&nbsp <b>Disciplina:</b> <%=h professor.disciplina%>&nbsp</td>
           </tr>
     <%end%>
   </table>



