<table width="100%"  >

      <%if  @professores.present?%>
         <tr>
             <td align="left" width ="60%" valign="top"><b> Professor(a): </b>&nbsp&nbsp&nbsp&nbsp <%= collection_select :aulas_falta, :professor_id, @professores_cat, :id, :prof_funcao, :include_blank => ' -- Selecionar caso seja professor -- ' %>
                                                    <%= observe_field 'aulas_falta_professor_id',
                                                     :with   => :aulas_falta_professor_id,
                                                     :url  => { :action => 'classe_professor' },
                                                     :update => "classe_professor"%>
             </td>
         </tr>
         <tr>
             <td ><b> Periodo da falta do professor(a): </b>&nbsp&nbsp&nbsp <%= select_tag :periodop, options_for_select(PERIODO).sort%> <font color="red"><== <b>ATENÇÃO - OBRIGATÓRIO !!</b></td>

         </tr>
         <tr>
             <td colspan="2"><div id="classe_professor"></div></td>

         </tr>

  <%end%>
  <!--
     <%#if  @funcionarios.present?%>
         <tr>
             <td align="left"><b> Funcionario: </b><%#= collection_select :aulas_falta, :funcionario_id, @funcionarios, :id, :nome, :include_blank => ' -- Selecionar caso seja funcionário -- ' %>
                <%#= observe_field 'aulas_falta_funcionario_id',
                       :with   => :aulas_falta_funcionario_id,
                       :url  => { :action => 'setor_funcionario' },
                       :update => "setor_funcionario"%>
             </td>
         </tr>
         <tr>
             <td><div id="setor_funcionario"></div></td>
         </tr>

  <%#end%>
  -->


</table>
