<br/><br/>
<table class="tabelas" width="70%" align="center">
  <tr>
    <td align="left">
      <h1>NOVO USUÁRIO</h1>
    </td>
  </tr>
  <tr>
    <td>


     <table width="100%" bgcolor="#DCDCDC" align="center">
          <tr>
            <td colspan="3">
              <br/><br/>
              <b><font size="3">NÃO FOI POSSÍVEL CRIAR USUÀRIO, CONFIRA OS DADOS E TENTE NOVAMENTE</b></font>
              <br/><br/>
            </td>
          </tr>
       
    </table>
    <table>
      <tr>
        <td>
        </td>
      </tr>
      <tr>
                <td width="8%"><%= button_to 'Fechar', homes_path, {:method => "get"}  %></td>
                <td></td>
          
     </tr>
   </table>
    </td>
  </tr>

</div>
  <br/>
</div>



