<br/><br/>
<table class="tabelas1" align="center" width="80%">
 <tr>
    <th align="left">
       <font  size=5 color="black"> <b> ORDEM DE SERVIÇO DE MANUTENÇÃO</b></font>
    </th>
    <td width="5%">
     <center><%= link_to image_tag("/stylesheets/images/excluir.PNG", :size => "20x20"),  homes_path, {:method => "get"}, :title => "Fechar"%></center>
   </td>
   </tr>
  <tr>
    <td colspan="2">
      <br/>
      <table with="100%">
        <tr>
          <td>
            <div class="botao">
            <table>
              <tr>
                <td>
                   <font  size="4" color="black"> Funcionário responsável: <%= collection_select :manutencao, :chefia_id, @chefias, :id, :nome, :include_blank => ' -- Selecione -- '  %></font>
                 </td>
              </tr>
           </table>
           </div>
          </td>
        </tr>
        <tr>
          <td>
          <%= observe_field 'manutencao_chefia_id',
               :update => "listagem",
               :url    => { :action => 'lista_manutencao' },
               :with   => 'manutencao_chefia_id' %>
            <div id="listagem"> </div>
         </td>
       </tr>

 
    </table>

  </td>
  </tr>
</table>
<br>


  

