<table width="100%" align="center" >
               <tr style="border-color: white">
                   <td style="border-color: white" align="right">
                        <font  size="3" color="black"> Curso (em andamento): <%= collection_select :curso, :curso_curso_id, @cursosA, :id, :nome, :include_blank => ' -- Selecionar -- '  %></font>
                        <%= observe_field 'curso_curso_curso_id',
                          :update => "listagem",
                          :url    => { :action => 'lista_cursoA' },
                          :with   => 'curso_curso_curso_id' %>
                   </td>
                </tr>
<tr style="border-color: white"><td style="border-color: white">  <hr/>   </td> </tr>

  </table>
