<p>
  <b>Servico:</b>
  <%=h @servicos_sala.servico %>
</p>

<p>
  <b>Obs:</b>
  <%=h @servicos_sala.obs %>
</p>


<%= link_to 'Edit', edit_servicos_sala_path(@servicos_sala) %> |
<%= link_to 'Back', servicos_salas_path %>