<div id="interno4">
<% title "CLASSES".singularize %>
<div class="tabs">
 <div id="caixa_titulo">
     <font size="3"><strong>SISTEMA DE SOLICITAÇÃO DE CERTIFICADOS </strong></font><br/>
 </div>
      <div class="tabs">
        <table >
            <tr bgcolor="#F5F5F5" >
              <td ><br/><font color ="red" size ="4"><b><u>EM CONTRUÇÂO:</u><br/><br/>
                    <font></td>
            </tr>
         </table>
        <table width="100%">
           <tr>


             <td width =" 10%"><%= button_to 'CONTINUAR', new_certificado_path %> </td>
             <td><%= button_to 'Fechar', home_path, {:method => "get"}  %></td>
          </tr>
        </table>


    </div>
</div>
<br/>

</font>
</div>


