<div id="interno4">
<% title "CLASSES".singularize %>
<div class="tabs">
 <div id="caixa_titulo">
     <font size="3"><strong>SISTEMA DE SOLICITAÇÃO DE CERTIFICADOS </strong></font><br/>
 </div>
      <div class="tabs">
        <table >
            <tr bgcolor="#F5F5F5" >
              <td ><br/><font color ="red" size ="4"><b><u>ATENÇÃO:</u><br/><br/>

                   <%= link_to image_tag("/stylesheets/Imagens/construcao.gif", :size => "800x400"), aviso_certificados_path, :title => "Solicitação de Certificados"%>


<!--
                    1) Este sistema é SOMENTE para solicitar a PRIMEIRA via de  certificados de cursos realizados  <br/>
                       &nbsp&nbsp&nbsp pela SEDUC-PMA.  <br/><br/>
                    2) Imprima e guarde o procolo de solicitação, pois é sua apresentação na retirada do  <br/>
                       &nbsp&nbsp&nbsp certificado. <br/><br/>
                    3) Todos os certificados deverão ser retirados na SEDUC-PMA, na rua dos Professores, 40 -  <br/>
                       &nbsp&nbsp&nbsp Americana, mediante a apresentação do protocolo de solicitação.<br/><br/>
                    4) Segunda via de certificados deverão ser solicitados <u>pessoalmente</u> na SEDUC-PMA. Este  <br/>
                       &nbsp&nbsp&nbsp sistema NÃO permite solicitação de segunda via de certificados.<br/><br/>
-->
                    <font></td>
            </tr>
         </table>
        <table width="100%">
           <tr>


             <!--    <td width =" 10%"><%= button_to 'CONTINUAR', new_certificado_path %> </td>  -->
             <td><%= button_to 'Fechar', home_path, {:method => "get"}  %></td>
          </tr>
        </table>


    </div>
</div>
<br/>

</font>
</div>


