<div id="interno4">
<% title "CLASSES".singularize %>
<div class="tabs">
 <div id="caixa_titulo">
     <font size="3"><strong>SISTEMA DE SOLICITAÇÃO DE CERTIFICADOS </strong></font><br/>
 </div>
      <div class="tabs">
        <table width ="100%" >
            <tr bgcolor="#F5F5F5" >
              <td ><br/><font color ="red" size ="4"><b><u>ATENÇÃO:</u><br/><br/>
                    <center>JÁ FOI EMITIDO CERTIFICADO PARA O REFERIDO PARTICIPANTE</center></b><br/><br/>

                    1) Este sistema permite <b>SOMENTE</b> solicitar a <b>PRIMEIRA</b> via de  certificados de cursos realizados  <br/>
                       &nbsp&nbsp&nbsp pela Secretaria de Educação de Americana - SEDUC-PMA.  <br/><br/>
                    2) Segunda via de certificados deverão ser solicitados <b><u>pessoalmente</u></b> na SEDUC-PMA. &nbsp Este  <br/>
                       &nbsp&nbsp&nbsp sistema NÃO permite solicitação de &nbsp segunda &nbsp via &nbsp de &nbsp certificados,&nbsp <b>NÃO</b>&nbsp serão atendidas <br/>
                       &nbsp&nbsp&nbsp solicitações por telefone ou e-mail.
                       <br/><br/>

                    <font></td>
            </tr>
         </table>
        <table width="100%">
           <tr>


             <td><%= button_to 'Fechar', home_path, {:method => "get"}  %></td>
          </tr>
        </table>


    </div>
</div>
<br/>

</font>
</div>




