<p>
  <b>Inscricao:</b>
  <%=h @certificado.inscricao %>
</p>

<p>
  <b>Obs:</b>
  <%=h @certificado.obs %>
</p>


<%= link_to 'Edit', edit_certificado_path(@certificado) %> |
<%= link_to 'Back', certificados_path %>