<div id="interno6">
<% title "CLASSES".singularize %>
<div class="tabs">
 <div id="caixa_titulo">
     <font size="3"><strong>SECRETARIA DE EDUCAÇÃO  </strong></font><br/>
 </div>
      <div class="tabs">
          <font  size="2">
           <table width="100%" align="center"  bgcolor="#F5F5F5" >
             <tr   bgcolor ="#E6E2D">
                  <th align="center">
                     <font  size=3 color="black"> <br/> <b> SEDUC-PMA  Secretaria de Educação da Prefeitura Municipal de Americana</b></font><br/><br/>
                  </th>

                </tr>
            <tr>
            <td colspan="2">
             <fieldset><legend><font size ="4"><b></b></font></legend>
                 <br/><br/><br/>
                 <table width="100%">
                        <tr>
                          <td  align="left">&nbsp&nbsp&nbsp&nbsp <b> <%= link_to 'UNIDADES DE ENSINO INFANTIL', infantil_certificados_path %> </b> </td>
                          <td  align="left">&nbsp&nbsp&nbsp&nbsp <b><%= link_to 'UNIDADES DE ENSINO FUNDAMENTAL', fundamental_certificados_path %> </b> </td>
                          <td  align="left">&nbsp&nbsp&nbsp&nbsp <b><%= link_to 'UNIDADES DE APOIO ', apoio_certificados_path %> </b> </td>
                         </tr>
                 </table>
              <br/><br/>
          </fieldset>

                   <table width="100%" align="left">
                     <tr>
                         <td align="left"><%= button_to('Fechar', home_path, :method => "get", :title => "Fechar")%></td>
                     </tr>
                 </table>

              </td>
            </tr>
            </table>
          </font>
    </div>
</div>
<br/>

</font>
</div>
