<br/>
 <table  class="tabelas1"   align="center" width="100%">
 <tr>
    <th align="left" colspan="2">
       <font size=5 color="black"> <b>  CONTROLE DE EMISSÃO DE DOCUMENTOS</b></font>
    </th>
    <td width="5%">
     <center><%= link_to image_tag("/stylesheets/images/excluir.PNG", :size => "20x20"),  homes_path, {:method => "get"}, :title => "Fechar"%></center>
   </td>
 </tr>
  <tr>
    <td width="50%">
      <center><%= button_to 'OFICIOS EXTERNOS', oficios_oficios_path %></center>
    </td>
    <td colspan="2"><br/><br/><br/><br/><br/><br/><br/>
      
      <center><%= button_to "SERVIÇOS INTERNOS", internos_path %></center>

    <br/><br/><br/><br/><br/><br/><br/>
 </td>
</table>

<br/>


