<table width="100%" >
   <tr>
         <td width="15%"    align="left" > &nbsp&nbsp <b>Data Inicial: </b></td>
         <td colspan="3"> &nbsp <%= datepicker_tag(:aulas_falta,:dataI,{:size => 10},{ :dateFormat => "'dd-mm-yy'", :changeYear => true, :changeMonth => true, :yearRange => "'-90:+0'", :buttonImage => "'/stylesheets/images/datepicker.gif'",:showOn =>  "'both'" }) %>
                      &nbsp&nbsp&nbsp&nbsp  <b>Data Final: </b> <%= datepicker_tag(:aulas_falta,:dataF,{:size => 10},{ :dateFormat => "'dd-mm-yy'", :changeYear => true, :changeMonth => true, :yearRange => "'-90:+0'", :buttonImage => "'/stylesheets/images/datepicker.gif'",:showOn =>  "'both'" }) %>
         </td>
  </tr>
</table>




