<% for funcionario in @funcionario_setor %>
<table width="100%" >
            <tr bgcolor="#F5F5F5" >
               <td align="left" width="12%"></td>
               <td align="left" width="60%">&nbsp&nbsp&nbsp<b>Função:</b> <%=h funcionario.funcao%>
               &nbsp&nbsp&nbsp&nbsp&nbsp<b>Setor:</b><%=h funcionario.setor%>&nbsp</td>

           </tr>
     <%end%>
   </table>



