<div id="interno6">
<% title "MATRICULAS".singularize %>
<div class="tabs">
 <div id="caixa_titulo">
     <br/>
 </div>
      <div class="tabs">


        <fieldset><legend><font size="3"><strong>SENHA DE ACESSO</strong></font><font size=4></font></legend>
            <br/>
        <table>
            <tr>
              <td ><font size ="4"><br/><b>&nbsp&nbsp&nbsp<u>ATENÇÃO:</u>
                         &nbsp&nbsp Se você esqueceu a senha de acesso ao Sistema INFOSEDUC, favor entrar em <br/>  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                         contato com a Informática SEDUC-Americana pelo telefone 3475-9700.</b>
                     </font>
                  </td>
            </tr>

         </table>
         </fieldset>
        <table width="100%">
           <tr>
              <td><%= button_to 'Fechar', home_path, {:method => "get"}  %></td>
          </tr>
        </table>

    </div>
</div>
<br/>
</div>