<br/>
<table class="tabelas" width="50%" align="center">
  <tr>
    <th colspan="2" align="left">
       <font  size=4><b> JUSTIFICATIVA PONTO ELETRÔNICO</b></font>
     </th>
   </tr>
   <tr>
     <td>
       <%= render 'form' %>
      </td>
   </tr>

</table>
   <br/>
  



