<br/>
<table class="tabelas3"  align="center">
  <tr>
    <th  align="left">
       <font  size=4><b> JUSTIFICATIVA PONTO ELETRÔNICO</b></font>
     </th>
       <th width="5%">
         <center><%= link_to image_tag("/stylesheets/images/excluir.PNG", :size => "20x20"),  homes_path, {:method => "get"}, :title => "Fechar"%></center>
       </th>
   </tr>
   <tr>
     <td colspan="2">
       <%= render 'form' %>
      </td>
   </tr>

</table>
   <br/>
  



