<table width="100%" align="center" >
   <tr>
     <td colspan="2"align="right"left"><font size="2"> <b class="label_busca">Ano:</b></font>
       <%= collection_select :orc_uni_orcamentaria,:ano, @orc_uni_orcamentaria_ano, :ano, :ano, :include_blank => ' -- Selecionar -- '  %></font>
               <%= observe_field 'orc_uni_orcamentaria_ano',
               :update => "consultaorcamentaria",
               :url    => { :action => 'orcamentaria_ano' },
               :with   => 'orc_uni_orcamentaria_ano' %>


     </td>
   </tr>
  </table>
