<div id="interno2">
<% title "RECUPERA" %>
<div class ="tabs">


 <table bgcolor="#DCDCDC" width="100%">
   <tr bgcolor="#DCDCDC"  width="100%">
     <td>
       <font size="5"><strong>ENVIAR E-MAIL</strong></font></br>
     </td>
   </tr>
    
   <tr bgcolor="#DCDCDC"  width="100%">
     <td>
       <fieldset><legend><font  size=3></font></legend>
         <table width="100%">
            <tr bgcolor="#F5F5F5">
               <td align="center">
                <br/><br/>
                    <%# form_tag url_for(:action => 'email') do %>
                       <!-- <b>Digite e-mail cadastrado no sistema</b>-->
                        <%#= text_field_tag :email, "", :size => 50 %>
                        <%#= submit_tag 'Enviar' %>
                    <%# end %>

                       <% form_tag url_for(:action => 'email') do %>
                       <% #form_tag confirmacao_inscricaos_path, :method => 'get' do %>
                        <%= label_tag :matricula, "Digite o e-mail: "  %><%= text_field_tag :email%>
                        <%= submit_tag "enviar", :name => nil %>
                      <% end %>
                    <br/>
                    <br/><br/>
                 </td>
            </tr>
         </table>
       </fieldset>
     </td>
  </tr>
  <tr>
    <td>
     <fieldset>
       <table>
         <tr>
           <td align="left"><%= button_to 'Fechar', home_path, {:method => "get"}  %></td>
          </tr>
       </table>
     </fieldset>
    </td>
  </tr>
 </table>


</div>
<br/>
</div>


