<div id="interno5">
<% title "ALUNOS".singularize %>
<div class="tabs">
 <div id="caixa_titulo">
     <font size="3"><strong>CONTROLE DE EMISSÃO DE SERVIÇOS INTERNOS - SEDUC/PMA</strong></font><br/>
 </div>
      <div class="tabs">
          <br/>
             <%= render 'form' %>
           <br/>
      </div>
     <br/>
</div>

<br/>