<table width="100%" align="center" >
   <tr>
     <td colspan="2"align="right"left"><font size="2"> <b class="label_busca">Nº Empenho:</b></font>
             <%= collection_select :orc_empenho, :id, @empenhos, :id, :codigo, :include_blank => ' -- Selecionar -- ' %></font>
                <%= observe_field 'orc_empenho_id',
               :update => "produto",
               :url    => { :action => 'empenho_consulta_produto' },
               :with   => 'orc_empenho_id' %>
     </td>
   </tr>
  </table>
