<link rel="stylesheet" type="text/css" href="css/layout.css" />
<link rel="stylesheet" type="text/css" href="css/style.css" />

<script language="javascript" type="text/javascript" src="js/jquery.easing.js"></script>
<script language="javascript" type="text/javascript" src="js/script.js"></script>
<script type="text/javascript">
 $(document).ready( function(){
		$('#lofslidecontent45').lofJSidernews( { interval:5000,
	            easing:'easeInOutQuad',
		    duration:1200,
				auto:true } );
	});

</script>
	<script>
	$(function() {
		$( "#tabs" ).tabs();
	});
	</script>
<style>

	ul.lof-main-wapper li {
		position:relative;
	}

</style>
<div id="posicao_abas">
<div id="tabs">
	<ul>
		<li><a href="#tabs-1">Seduc</a></li>

	</ul>
	<div id="tabs-1">
		<p><%= render "informe" %></p>
	</div>
<br/>
</div>
</div>