<table width="100%" align="center" >
   <tr>
     <td colspan="2"align="right"left"><font size="2"> <b class="label_busca">Un.Despesa:</b></font>
         <%= collection_select :orc_uni_orcamentaria, :orc_uni_despesa_id, @despesas, :id, :descricao, :include_blank => ' -- Selecionar -- ' %></font>
                <%= observe_field 'orc_uni_orcamentaria_orc_uni_despesa_id',
               :update => "consultaorcamentaria",
               :url    => { :action => 'orcamentaria_despesa' },
               :with   => 'orc_uni_orcamentaria_orc_uni_despesa_id' %>

     </td>
   </tr>
  </table>
