

<table width="100%" align="center" >
   <tr>
     <td colspan="2"align="right"><font size="2"> <b class="label_busca">Nome:</b></font>
        <%= collection_select :estagiario, :id, @estagiarios, :id, :nome, :include_blank => ' -- Selecionar -- ',:class=> "txt_busca1"  %>
          <%= observe_field 'estagiario_id',
               :update => "dados",
               :url    => { :action => 'lista_consulta_estagiario' },
               :with   => 'estagiario_id' %>


     </td>
   </tr>
  </table>

