  <br/> 
   
  <table border="1" cellspacing="0" cellpadding="1" width="100%" style="border-color: black">
                <tr>
                    <td align="center" bgcolor="#DCDCDC"><b>Matrícula</b></td>
                  <td align="center" bgcolor="#DCDCDC"></b>Nome</b></td>
                  <td align="center" bgcolor="#DCDCDC" ><b>Unidade</b></td>
                </tr>
                <% @inscricao.each do |inscricao| %>
                  <tr>
                    <td align="center"> <% if inscricao.participante.professor_id.nil? and inscricao.participante.funcionario_id.nil? %>
                                              Não Funcionário PMA
                                        <%else%>
                                             <%=h inscricao.participante.matricula %></td>
                                        <%end%>
                    <td align="center"><%=h inscricao.participante.nome %></td>
                    <%  if !inscricao.participante.unidade_id.nil? %>
                         <td align="center"><%=h inscricao.participante.unidade.nome %></td>
                    <%else%>
                         <td align="center"> Externo  </td>
                     <%end%>

                  </tr>
                <%end%>
                    <tr>
                      <td bgcolor="#DCDCDC" colspan="3" align="left"> <b><%= "Existe(m) #{@inscricao.count} participante(s) inscrito(s) " %></b></td>
                    </tr>

  </table>
 




