
<div id="interno6">
<% title "CLASSES".singularize %>
<div class="tabs">
 <div id="caixa_titulo">
     <font size="3"><strong>SISTEMA DE INSCRIÇÃO ON LINE</strong></font><br/>
 </div>
   <div class="tabs">
    <table width="100%" align="center"  bgcolor="#F5F5F5"   style="border-color: white">
         <tr  bgcolor ="#E6E2D" style="border-color: white">
            <td align="left" style="border-color: white">
             <font  size=5 color="black"> <b> CONSULTA SISTEMA DE INSCRIÇÃO / PARTICIPANTE</b></font>
               <hr/>
            </td>
        </tr>
          <% form_remote_tag :url => lista_inscricaos_path, :method => :get,:loading => "$('#status').show()" , :success => "$('#status').hide()" do %>
         <table width="100%" align="center" bgcolor="#F5F5F5" >
        <tr style="border-color: white">
            <td style="border-color: white" align="right">
                 <font  size="2" color="black"> (Digite nome do particiante para visualizar o(s) protocolo(s) de inscrição)</font><br/><br/>
                 <font  size="3" color="black"> Participante:  <%= text_field_tag :search1, params[:search1], :class=> "txt_busca" %> </font>
          </td>
          <td valign="bottom">
                       <%= submit_tag "Filtrar", :class => "btn_filtrar" %>
          </td>
        </tr>
        <%end%>
        <tr style="border-color: white"><td style="border-color: white" colspan="2">  <hr/>   </td> </tr>
        <tr style="border-color: white" >
            <td style="border-color: white" colspan="2"align="center">

            <div id="listagem"> </div>
         </td>
       </tr>
        <tr style="border-color: white">
            <td style="border-color: white">
                <table width="100%" align="left" style="border-color: white">
                  <tr style="border-color: white">
                          <td width="1%" align="left" style="border-color: white"><%= button_to "Imprimir", onclick="javascript:window.print()", :title => "Imprimir" %></td>
                          <td align="left"  style="border-color: white"><%= button_to('Fechar', home_path, :method => "get", :title => "Fechar")%></td>
                  </tr>
               </table>
            </td>
        </tr>

    </table>

</td>

</table>
<br>


  

