<table width="100%" align="center" >
   <tr>
     <td colspan="2"align="right"><font size="2"> <b class="label_busca2">Status do Serviço:
        <%= collection_select :manutencao,:situacao_manutencao_id, @situacao_manutencao, :id, :situacao, :include_blank => ' -- Selecionar -- ',:class=> "txt_busca2"  %></b></font>
         <%= submit_tag "Filtrar", :class => "btn_filtrar" %>
         
     </td>
   </tr>
  </table>

