     <% if current_user.has_role?('admin') or current_user.has_role?('admin_manutencao')  %>
       <% @unidades_manutencao =  Unidade.find(:all, :order => 'nome ASC')   %>
     <%  else   %>
     <%  if (current_user.unidade_id== 53)   %>
          <% @unidades_manutencao =  Unidade.find(:all, :order => 'nome ASC')   %>
     <% else   %>
          <% @unidades_manutencao =  Unidade.find(:all, :conditions => ['id = ?',current_user.unidade_id ],:order => 'nome ASC')   %>
     <% end   %>
   <% end   %>
<div id="interno6">
<% title "CLASSES".singularize %>
<div class="tabs">
 <div id="caixa_titulo">
     <font size="3"><strong>MANUTENÇÃO GERAL</strong></font><br/>
 </div>
   <div class="tabs">
    <table width="100%" align="center"  bgcolor="#F5F5F5" >
         <tr bgcolor ="#E6E2D">
            <td align="left">
             <font  size=4 color="black"> <b> CONSULTA SERVIÇO POR UNIDADE - MANUTENÇÃO GERAL</b></font>
               <hr/>
            </td>
        </tr>
      <tr>
        <td colspan="2">
          <br/>
          <table width="100%" >
            <tr>
              <td>
                <table width="100%">
                  <tr>
                      <td align="right">
                       <font  size="3" color="black"> Unidade: <%= collection_select :mmanutencao, :unidade_id, @unidades_manutencao, :id, :nome, :include_blank => ' -- Selecionar -- '  %></font>
                     </td>
                  </tr>
               </table>

              </td>
             </tr>
            <tr>
              <td>
              <%= observe_field 'mmanutencao_unidade_id',
                   :update => "listagem",
                   :url    => { :action => 'lista_unidade' },
                   :with   => 'unidade_unidade_id' %>
                <div id="listagem"> </div>
             </td>
           </tr>

            <table width="100%" align="left">
               <tr>
                  <td align="left"><%= button_to('Fechar', home_path, :method => "get", :title => "Fechar")%></td>
                  
               </tr>
           </table>

        </table>

    </td>
  </tr>
</table>
<br/>
 </div>
 </div>
 <br/>

