<table width="100%" align="center" >
   <tr>
     <td colspan="2"align="right"left"><font size="2"> <b class="label_busca">Nº Empenho:</b></font>
         <%= text_field_tag :search_empenho_nf, params[:search_empenho_nf], :class=> "txt_busca" %>
         <%= submit_tag "Filtrar", :class => "btn_filtrar" %>
     </td>
   </tr>
  </table>
