


          <table width="100%" align="center" >
          <tr>
            <td align= "right"><font size="2"><b class="label_busca3">Inicial:</b></font>&nbsp
                <%= datepicker_tag(:nota_fiscal, :dataI,{:size => 10},{ :dateFormat => "'dd-mm-yy'", :changeYear => true, :changeMonth => true, :yearRange => "'-90:+0'", :buttonImage => "'/stylesheets/images/datepicker.gif'",:showOn =>  "'both'" }) %>

               &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
               <font size="2"><b class="label_busca3">Final:</b></font>&nbsp
                <%= datepicker_tag(:nota_fiscal, :dataF,{:size => 10},{ :dateFormat => "'dd-mm-yy'", :changeYear => true, :changeMonth => true, :yearRange => "'-90:+0'", :buttonImage => "'/stylesheets/images/datepicker.gif'",:showOn =>  "'both'" }) %>
         </td>
          <td width ="10%" align="right">
            <%= submit_tag "Filtrar", :class => "btn_filtrar" %>
          </td>
        </tr>


       </table>
