<table width="100%" align="center" >
   <tr>
     <td colspan="2"align="right"left"><font size="2"> <b class="label_busca">Nº Nota Fiscal:</b></font>
         <%= text_field_tag :search_nota_fiscal, params[:search_nota_fiscal], :class=> "txt_busca" %>
         <%= submit_tag "Filtrar", :class => "btn_filtrar" %>
     </td>
   </tr>
  </table
