<table width="100%">
           <tr>
             <td align="left">&nbsp<b>Participante: </b>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                 <%= collection_select  :certificado, :participante_id, @participantes, :par_id, :par_nome, :include_blank => ' --- Selecione ---'  %>
             </td>
          </tr>

</table>




