<br/>
<font size="2">
<table  class="tabelas" width="50%"align="center">
<tr>
   <th colspan="2" align="left">
         <font  size=5 color="black"> <b> COMO ABRIR CHAMADO DE SERVIÇO EXTERNO</b></font>

   </th>
  </tr>
  <tr>
    <td>
      <br/>
      <font size="3">
      Os computadores <b>LENOVO e POSITIVO <font color="red">NÃO</font></b> pertencem à Secretaria de Educação da Prefeitura Municipal de Americana <br/>
      portanto a manutenção destes equipamento não é responsabildade e atribuição da Informática SEDUC, sendo assim <br/>
      necessário abrir chamado de manutenção externo.
      </font>
      <br/>
    </td>
  </tr>
  <tr>
    <th align="center">
      <font size="3"><b>Como proceder chamado externo para POSITIVO </b></fpmt>
    </th>
  </tr>
  <tr>
    <td>
      <font size="3">
        <b><u>Abertura de chamado:</u></b> Apenas para suporte de hardware, SO e formatação é responsabilidade da SEDUC.
      <ul>
        <li>
           Antes de abrir qualquer chamado é necessário fazer backup dos dados do usuário do PC.
        </li>
  
        <li>
           Ter em mãos os dados da unidade escolar (nome, endereço, CEP e telefone).<br/>
           <u>Obs:</u> Todos os dados necessários estão no sistema Infoseduc
        </li>
        <li>
           Ter em mãos o número de série do equipamento (SN fixado na parte anterior do PC).
        </li>
        <li>
          Ligar para <b> 0800-644-6591</b> e solicitar a manutenção do equipamento, fornecendo os dados necessários.
        </li>
        <li>
           Abrir Chamado Externo no sistema infoseduc preenchendo todos os campos solicitados.
        </li>
        <li>
           Após a visita do técnico informar por e_mail ou telefone o Departamento de Informática da SEDUC <br/> 
           que o serviço foi realizado para que seja dado baixa da Ordem de Serviço Externo
        </li>
      </ul>
      </font>
    </td>
  </tr>
  <tr>
    <th align="center">
      <font size="3"><b>Como proceder chamado externo para VIVO / LENOVO  (Posto Informático) </b></fpmt>
    </th>
  </tr>
  <tr>
    <td>
      <font size="3">
       &nbsp;&nbsp;&nbsp;&nbsp;<font color="red"><b>A Informatica da SEDUC NÃO está autizada a formatar e instalar SO.</b></font><br/> <br/> 
      <b><u>Abertura de chamado:</u></b> Para suporte de hardware, SO e formação.
      <ul>
        <li>
           Antes de abrir qualquer chamado é necessário fazer backup dos dados do usuário do PC.
        </li>
        <li>
           Ter em mãos os dados da unidade escolar (nome, endereço, CEP e telefone).<br/>
           <u>Obs:</u> Todos os dados necessários estão no sistema Infoseduc
        </li>
        <li>
           Ter em mãos os dados o número de série do equipamento (SN está tampa do lado direito inferior do PC).
        </li>
        <li>
           Ligar para <b>0800-508-0015</b> e solicitar a manutenção do equipamento, fornecendo os dados necessários.
        </li>
         <li>
           Para EMEIs o posto telefonico está instalado no número <b> 3406-5544</b><br/>
           Para demais unidades o posto telefonico está instalado no número <b> 3405-1991</b>.
        </li>
        <li>
           Abrir Chamado Externo no sistema infoseduc preenchendo todos os campos solicitados.
        </li>
        <li>
           Após a visita do técnico informar por e_mail ou telefone o Departamento de Informática da SEDUC <br/>
           que o serviço foi realizado para que seja dado baixa da Ordem de Serviço Externo
        </li>
      </ul>
      </font>
    </td>
  </tr>
 <tr>
   <td align="left" > <%= link_to image_tag("/stylesheets/images/voltar.png", :size => "40x40"), new_c_externo_path, :title => "Voltar" %></td>
 </tr>

</table>
</font>

<br/>



