<p>
  <b>Servicos sala:</b>
  <%=h @reservar_salas_servicos_sala.servicos_sala %>
</p>

<p>
  <b>Reservar sala:</b>
  <%=h @reservar_salas_servicos_sala.reservar_sala %>
</p>


<%= link_to 'Edit', edit_reservar_salas_servicos_sala_path(@reservar_salas_servicos_sala) %> |
<%= link_to 'Back', reservar_salas_servicos_salas_path %>