<table width="100%" align="center" >
   <tr>
     <td align="left"><b>Funcionário:</b><%= collection_select  :participante, :funcionario_id, @funcionarios, :id, :nome, :include_blank => ' --- Selecionar ---'  %>
                       <%= observe_field 'participante_funcionario_id',
               :update => "dadosFunc",
               :url    => { :action => 'funcionario_dados' },
               :with   => 'participante_funcionario_id' %>
     </td>
   </tr>
   <tr>
       <td> <div id="dadosFunc"> </div> </td>
   </tr>
  </table>

