<table width="100%" align="center"  >
   <tr>
      <td align="left"  width =" 30%"><b>Professor:</b>&nbsp&nbsp&nbsp&nbsp&nbsp
            <%= collection_select  :participante, :professor_id, @professors, :id, :nome, :include_blank => ' --- Selecionar ---'  %>
              <%= observe_field 'participante_professor_id',
               :update => "dadosProf",
               :url    => { :action => 'professor_dados' },
               :with   => 'participante_professor_id' %>
     </td>
   </tr>
   <tr>
       <td> <div id="dadosProf"> </div> </td>
   </tr>
  </table>































































