<div id="interno5">
    <% title "CLASSES".singularize %>
    <div class="tabs">
        <div id="caixa_titulo">
            <font size="3"><strong>MANUTENÇÃO INFORMÁTICA</strong></font><br/>
        </div>
        <div class="tabs">
            <br/>
            <font size="2">
                <table width="100%" align="center" bgcolor="#F5F5F5" >
                    <tr bgcolor ="#E6E2D">
                        <td colspan="6" align="left">
                            <font  size=5 color="black"> <b> ORDEM DE SERVIÇO </b></font>
                            <hr/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <font  size="2">
                                <table width="100%">
                                    <tr bgcolor="#F5F5F5">
                                        <td>
                                            <%= render 'formshow' %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <font><b>
                                                    >> ESTA ORDEM DE SERVIÇO SERÁ ATENDIDA ASSIM QUE POSSÍVEL<br/>
                                                    >> QUALQUER DÚVIDA ENTRAR EM CONTARO COM A INFORMÁTICA- SEDUC
                                                </b></font>
                                        </td>
                                    </tr>
                                </table>

                                <table bgcolor ="#E6E2D">
                                    <tr >
                                        <td align="left" width="4%"><%= button_to('Fechar', home_path, :method => "get", :title => "Fechar")%></td>
                                    </tr>
                                </table>

                            </font>
                        </td>
                    </tr>
                </table>
            </font>
        </div>
        <br/>

    </div>



