
<table width="100%" align="center" >
   <tr>
     <td colspan="2"align="right"><font size="2"> <b class="label_busca">Unidade:</b></font>
        <%= collection_select :funcionario, :unidade_id, @unidades, :id, :nome, :include_blank => ' -- Selecionar -- ',:class=> "txt_busca1"  %>
          <%= observe_field 'funcionario_unidade_id',
               :update => "dados",
               :url    => { :action => 'lista_consulta_unidade' },
               :with   => 'funcionario_unidade_id' %>


     </td>
   </tr>
  </table>

