<%  if (current_user.unidade_id== 53) or (current_user.unidade_id== 52) %>
<%    @funcionarios = Funcionario.find(:all, :order => 'nome ASC') %>
<%  else %>
<%    @funcionarios = Funcionario.find(:all, :conditions => ['unidade_id =?', current_user.unidade_id], :order => 'nome ASC') %>
<%  end   %>
<table width="100%" align="center" >
   <tr>
     <td colspan="2"align="right"><font size="2"> <b class="label_busca">Nome:</b></font>
        <%= collection_select :funcionario, :id, @funcionarios, :id, :nome, :include_blank => ' -- Selecionar -- ',:class=> "txt_busca1"  %>
          <%= observe_field 'funcionario_id',
               :update => "dados",
               :url    => { :action => 'lista_consulta_funcionario' },
               :with   => 'funcionario_id' %>


     </td>
   </tr>
  </table>

