<p>
  <b>Tipos manutencao:</b>
  <%=h @mmanutencaos_tipos_manutencao.tipos_manutencao %>
</p>

<p>
  <b>Mmanutencao:</b>
  <%=h @mmanutencaos_tipos_manutencao.mmanutencao %>
</p>


<%= link_to 'Edit', edit_mmanutencaos_tipos_manutencao_path(@mmanutencaos_tipos_manutencao) %> |
<%= link_to 'Back', mmanutencaos_tipos_manutencaos_path %>