           <table width="100% "bgcolor="#DCDCDC">
                       <tr  >
                          <td align="left"><b> Produto:</b></td>
                          <td align="left"><b> Fornecedor:</b></td>
                          <td align="center"><b>Estoque:</b></td>
                          <td></td>
                       </tr>
                      <% @produtos.each do |produto| %>
                        <tr bgcolor="#F5F5F5">
                          <td><%=h produto.produto %></td>
                          <td><%=h produto.fornecedor %></td>
                          <td align="center"><%=h produto.estoque %></td>
                          <td width ="6%"><%= button_to('Visualizar', {:action => "show", :id =>produto},:method => "get", :title => "Visualizar") %></td>
                       </tr>
                     <%end%>
           </table>

