<table width="100%" align="center" >
   <tr>
     <td colspan="2"align="right"left"><font size="2"> <b class="label_busca">Ano:</b></font>
       <%= collection_select :orc_pedido_compra,:ano, @orc_pedido_ano, :ano, :ano, :include_blank => ' -- Selecionar -- '  %></font>
               <%= observe_field 'orc_pedido_compra_ano',
               :update => "consultapedido",
               :url    => { :action => 'pedido_ano' },
               :with   => 'orc_pedido_compra_ano' %>


     </td>
   </tr>
  </table>
